<% provide :title, t(".home") %>
<% provide :controller, t(".home") %>

<div class="homepage">
  <% if @posts.present? %>
    <div class="post-list">
      <%= render @posts.order_created_at %>
    </div>
  <% else %>
    <h3 class="empty-data">
      <%= t ".no_post" %>
    </h3>
  <% end %>
</div>
