/.bundle


/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*


/log/*
/tmp/*
!/log/.keep
!/tmp/.keep


/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep


/storage/*
!/storage/.keep

/public/assets
/public/img
.byebug_history


/config/master.key

/public/packs
/public/packs-test
/public/uploads
/public/images
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/test
/config/database.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
.framgia-ci-reports/
.framgia-ci-result.temp.yml

/config/application.yml
/config/credentials.yml.enc

/storage

public/uploads/user/avatar/
public/uploads/ckeditor/attachments/
public/uploads/ckeditor/pictures/

ImageMagick-7.0.10-28/
ImageMagick.tar.gz

/public/public
/public/images
