<div class="mr-3">
  <%= link_to admin_user_path user.id do %>
    <%= image_tag user.avatar_url, class: "img-size-50 img-circle" %>
  <% end %>
  <p class="text-center">
    <%= user.name %>
  </p>
</div>
