<div class="col-md-6">
  <div class="item">
    <div class="item-title">
      <%= link_to topic do %>
        <i class="fas fa-filter" aria-hidden="true"></i>
        <%= topic.name %>
      <% end %>
    </div>
    <hr>
    <div class="item-info">
      <p><%= t ".followers" %></p>
      <p class="unfollow">
        <%= link_to t(".unfollow"), "#{}" %>
      </p>
    </div>
  </div>
</div>
