<div class="col-md-6">
  <div class="item">
    <div class="item-title">
      <%= link_to topic do %>
        <i class="fas fa-filter" aria-hidden="true"></i>
        <%= topic.name %>
      <% end %>
    </div>
    <hr>
    <div class="item-info" id="user-topic-<%= topic.id %>">
      <%= load_follow_topic_partial topic %>
    </div>
  </div>
</div>
