<%= link_to "#",
  class: "notification-item checked-#{notification.checked?}" do %>
  <div class="item-ava">
    <%= load_user_avatar notification.user.url %>
  </div>
  <div class="item-content">
    <p class="content">
      <%= t ".content", title: notification.title, status: notification.post.status %>
    </p>
    <time><%= time_ago_in_words notification.created_at %></time>
  </div>
<% end %>
