<div class="col-md-4">
  <div class="item">
    <div class="item-ava">
      <%= load_user_avatar user.url %>
    </div>
    <p class="item-name"><%= link_to user.name, user %></p>
    <p class="follower"><%= t ".follow" %></p>
  </div>
</div>
