<% provide :title, t(".users") %>
<% provide :controller, t(".users") %>
<% provide :action, t(".index") %>

<div class="users-index">
  <% if @users.present? %>
    <div class="row">
      <%= render @users %>
    </div>
    <%= paginate @users %>
  <% else %>
    <h3 class="empty-data">
      <%= t ".no_user" %>
    </h3>
  <% end %>
</div>
