@import 'colors';

.status {
  color: $white;
  padding: 5px 5px;
}

.on, .member, .active{
  span{
    background-color: $green;
    padding: 10px 10px;
    color: $white;
  }
}

.off, .admin, .block{
  span{
    background-color: $red;
    padding: 10px 10px;
    color: $white;
  }
}

.pending, .block{
  span{
    background-color: $yellow ;
    padding: 10px 10px;
    color: $white;
  }
}

.user-card{
  flex-wrap: wrap;
}

.post-img{
  height: 300px;
  width: 300px;
}

.post-contents{
  display: block;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: $gray;
}

.notification-true {
  background-color: $silver;
}

#notification{
  max-height: 400px;
  overflow-Y: auto;
}
