@import 'colors';

.status {
  padding: 5px;
}

.on, .active {
  span {
    background-color: $white !important;
    padding: 10px !important;
    color: $green !important;
    font-weight: 600;
  }
}

.member {
  span {
    background-color: $white !important;
    padding: 10px 10px !important;
    color: $green !important;
    font-weight: 600;
  }
}

.off, .admin, .block {
  span {
    background-color: $white !important;
    padding: 10px 10px !important;
    color: $red !important;
    font-weight: 600;
  }
}

.pending, .block {
  span {
    font-weight: 600;
    padding: 10px 10px;
    color: $yellow;
  }
}

.user-card {
  flex-wrap: wrap;
}

.post-img {
  height: 300px;
  width: 300px;
}
.edit_post {
  .card-body {
    p {
      display: block;
      padding: 10px 10px;
      border-radius: 4px;
      background-color: $gray;
    }
  }
}

.notification-true {
  background: $geyser;
}

#notification{
  max-height: 400px;
  overflow-Y: auto;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $silver;
    outline: 1px solid $gray;
  }
}

.user-panel {
  img {
    width: 2.1rem;
    height: 2.1rem;
    object-fit: cover;
  }
}

.img-size-50 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.mr-3 {
  text-align: center;
}

.img-size-100 {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 50%;
}

.table {
  img {
    width: 150px;
    height: 150px;
    object-fit:cover;
    border-radius: 50%;
  }
}

#modal-user {
  .modal-content {
    height: 680px;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 1em;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px $white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $silver;
      outline: 1px solid $gray;
    }
  }
}


input#post_image {
  display: none !important;
}

#post_img_preview img {
  width: 222px;
  height: 222px;
  object-fit: cover;
  margin-bottom: 15px;
}

#post-status {
  top: 70px;
}

.per-posts-page {
  width: 6%;
}

#notification {
  max-height: 400px;
  overflow-Y: auto;
}

.list-header {
  a {
    color: black;
  }
}

.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
  .select2-selection__arrow {
    top: 16% !important;
  }
}

.report-btn {
  padding: 5px 5px;
  border-radius: 10px;
  background-color: red;
  color: $white;
  text-decoration: none;
  position: relative;
  top: -20px;
  left: -30px;
  z-index: 1000;

  &:hover{
    color: $gray;
  }
}

.notify-item {
  img {
    border-radius: 50%;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}

.card-user-item {
  img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
}

.report-post-item {
  img {
    border-radius: 50%;
    margin-right: 5px;
    width: 68px;
    height: 68px;
    object-fit: cover;
  }
}

.card-body-img img {
  width: 50px;
  height: 50px;
}

.post-img {
  height: fit-content;
  width: fit-content;
  img{
    height: 100px;
    width: 100px;
    border-radius: 0;
  }
}

.post-count {
  background: $gray;
}
