<%= form_for save, remote: true do |f| %>
  <%= hidden_field_tag :post_id, post.id %>

  <%= button_tag :class => "post-saved" do %>
    <i class="fas fa-bookmark"></i>
    <span><%= post.post_marks.size %></span>
  <% end %>
<% end %>
