<div class="nested-fields">
  <div class="field form-group row">
    <div class="col-md-11">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-md-1">
      <%= link_to_remove_association f, class: "button-remove-tag" do %>
        <i class="fas fa-minus-circle"></i>
      <% end %>
    </div>
  </div>
</div>
