<%= form_for unsave(post),
  html: {method: :delete}, remote: true do |f| %>
  <%= button_tag :class => "post-unsaved" do %>
    <%= hidden_field_tag :post_id, post.id %>
    <i class="fas fa-bookmark"></i>
    <span><%= post.post_marks.size %></span>
  <% end %>
<% end %>
