$main_color: #272930;
$main_bg: #F3F3F3;
$red: red;
$white: white;
$strong_line: #2d6ff7;
$desc_line: #707885;
$main_border: #e1e3e3;
$rolling_stone: #7c7f85;
$wild_sand: #F5F5F5;
$alabaster: #F9F9F9;
$iron: #d9dadb;
$black: black;
$gray: gray;
