@import 'colors';

.sidebar97269 {
  margin-top: 30px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li{
      margin-bottom: 30px;
      overflow: hidden;

      a {
        color: $main_color;
        font-weight: 700;
        text-decoration: none;

        i {
          font-size: 18px;

          &::before{
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.translate-button {
  display: flex;
  margin: 10px 0;

  a {
    text-decoration: none;
    color: $main_color;
    font-size: 18px;
    border: 1px solid $main_color;
    margin-right: 15px;
    padding: 4px 12px;
    font-weight: 600;
    display: block;
  }
}

.breadcrumb {
  background-color: $main-bg;
  padding-left: 0;

  li {

    a {
      text-decoration: none;
      color: black;
    }
  }
}

#post_content {
  min-height: 300px;
  height: auto;
}

.edit-user-avatar {
  width: 100%;
  height: auto;
  text-align: center;

  input#user_avatar {
    display: none !important;
  }

  label {
    border: 1px solid $main_color;
  }

  #user_ava_preview {
    width: 222px;
    height: 222px;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

.required {
  &::after {
    content: "*";
    color: $red;
    margin-left: 3px;
    font-weight: bold
  }
}

.on, .member, .active{
  span{
    background-color: green;
    padding: 10px 10px;
    color: $white;
  }
}

.off, .admin, .block{
  span{
    background-color: red;
    padding: 10px 10px;
    color: $white;
  }
}
