@import 'colors';

.sidebar97269 {
  margin-top: 30px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li{
      margin-bottom: 30px;
      overflow: hidden;

      a {
        color: $main_color;
        font-weight: 700;
        text-decoration: none;

        i {
          font-size: 18px;

          &::before{
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.translate-button {
  display: flex;
  margin: 10px 0;

  a {
    text-decoration: none;
    color: $main_color;
    font-size: 18px;
    border: 1px solid $main_color;
    margin-right: 15px;
    padding: 4px 12px;
    font-weight: 600;
    display: block;
  }
}

.breadcrumb {
  background-color: $main_bg;
  padding-left: 0;

  li {

    a {
      text-decoration: none;
      color: $black;
      font-size: 17px;
      font-weight: 550;
    }
  }
}

#post_content {
  min-height: 300px;
  height: auto;
}

.edit-user-avatar {
  width: 100%;
  height: auto;
  text-align: center;

  input#user_avatar {
    display: none !important;
  }

  label {
    border: 1px solid $main_color;
  }

  #user_ava_preview {
    width: 222px;
    height: 222px;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

.required {
  &::after {
    content: "*";
    color: $red;
    margin-left: 3px;
    font-weight: bold
  }
}

.on, .member, .active{
  span{
    background-color: $green;
    padding: 10px 10px;
    color: $white;
  }
}

.off, .admin, .block{
  span{
    background-color: $red;
    padding: 10px 10px;
    color: $white;
  }
}

.pagination{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 20px 0px;

  .page,
  .next_page,
  .last_next{
    a{
      padding: 10px 20px;
    }
  }

  .active{
    a{
      background-color: $blue;
      color: $white;
    }
  }
}

#post-show {
  display: flex;
  margin-bottom: 15px;
  background-color: $white;
  padding: 15px;

  .user-ava {
    img {
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .post-like {
    text-align: center;
    margin-right: 10px;
    margin-top: 20px;

    a {
      color: $desc_line;
      font-size: 20px;
      font-weight: 400;
    }

    button {
      color: $desc_line;
      font-size: 20px;
      font-weight: 400;
      border: none;
      background: $white;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      i {
        font-size: 40px;
      }
    }

    p {
      margin-bottom: 0;
      color: $desc_line;
      font-weight: 400;
    }
  }

  .post-info {
    width: 90%;

    p {
      margin-bottom: 10px;
    }

    .post-header {
      .user-name {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;

        a {
          color: $strong_line;
          text-decoration: none;
        }
      }

      time {
        font-size: 14px;
        margin-right: 10px;

        strong {
          color: $strong_line;
        }
      }

      .post-topic {
        font-size: 14px;
        margin-right: 10px;

        strong {
          a {
            color: $strong_line;
            text-decoration: none;
          }
        }
      }
    }

    .post-title {
      font-weight: bold;
      font-size: 18px;

      a {
        text-decoration: none;
        color: $black;
        display: inline-block;
        word-break: break-word;
      }
    }

    .post-description {
      color: $desc_line;
      font-size: 15px;
      font-weight: 400;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .post-tags {
      display: flex;
      margin-bottom: 15px;
      align-items: center;

      .tag-item {
        color: $rolling_stone;
        border: 1px solid $main_border;
        padding: 1px 6px;
        border-radius: 2px;
        font-size: 15px;
        margin-right: 8px;
      }
    }

    .post-footer {
      background-color: $wild_sand;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      padding: 10px;

      .post-comments, .post-views, .post-likes, .post-saved,
      .post-unsaved {
        padding: 6px 10px;
        border: 1px solid $iron;
        background-color: $white;
        font-size: 15px;
        margin-right: 10px;

        a {
          color: $black;
          text-decoration: none;
        }
      }

      .post-saved {
        padding: 6px 15px;
        cursor: pointer;

        i {
          margin-right: 5px;
        }
      }

      .post-unsaved {
        padding: 6px 15px;
        border: 1px solid $strong_line;
        color: $strong_line;
        cursor: pointer;

        i {
          margin-right: 5px;
        }
      }

      .comment-post {
        margin-left: auto;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.register-page {
  background-image: url("/images/picture_layout.jpg");
  background-size: cover;
}

.button-add-tag {
  text-decoration: none;

  button {
    font-size: 14px;
    padding: 3px 12px;
  }
}

.button-remove-tag {
  text-decoration: none;
  color: $red;
  text-align: right;
}

.nested-fields {
  .form-group {
    margin-bottom: 10px;
  }
}

.homepage {
  padding: 0 16px;
}

#personal-page, .show-topic, .favorites-index, .homepage {
  background-color: $white;
  padding-top: 16px;

  .edit-user-path {
    border: 1px solid $gray;
    color: $gray;
    padding: 8px 12px;
    text-align: center;
  }

  .user-info {
    display: flex;
    align-items: center;

    .user-ava {
      img {
        width: 52px;
        height: 52px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .user-name {
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }
  }

  hr {
    width: 100%;
    border: 2px solid $main_bg;
    color: $main_bg;
  }

  .static-infor {
    border: 1px solid $main_border;
    background-color: $alabaster;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 16px;
    margin: 0;

    i {
      margin-right: 10px;
    }
  }

  .relationship-infor {
    border: 1px solid $main_border;
    background-color: $alabaster;
    padding: 8px 12px;
    font-size: 16px;
    padding: 20px 12px;

    p {
      margin: 0;

      a {
        color: $black;
        text-decoration: none;
      }
    }

    i {
      margin-right: 10px;
    }

    .relationship-infor-content {
      margin-top: 10px;
    }
  }

  .post-list {
    .post-item {
      display: flex;
      margin-bottom: 15px;

      .user-ava {
        img {
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .post-like {
        text-align: center;
        margin-right: 10px;
        margin-top: 20px;

        a {
          color: $desc_line;
          font-size: 20px;
          font-weight: 400;
        }

        button {
          color: $desc_line;
          font-size: 20px;
          font-weight: 400;
          border: none;
          background: $white;
          cursor: pointer;

          &:focus {
            outline: none;
          }

          i {
            font-size: 40px;
          }
        }

        p {
          margin-bottom: 0;
          color: $desc_line;
          font-weight: 400;
        }
      }

      .post-info {
        width: 90%;

        p {
          margin-bottom: 10px;
        }

        .post-header {
          .user-name {
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;

            a {
              color: $strong_line;
              text-decoration: none;
            }
          }

          time {
            font-size: 14px;
            margin-right: 10px;

            strong {
              color: $strong_line;
            }
          }

          .post-topic {
            font-size: 14px;
            margin-right: 10px;

            strong {
              a {
                color: $strong_line;
                text-decoration: none;
              }
            }
          }
        }

        .post-title {
          font-weight: bold;
          font-size: 18px;

          a {
            text-decoration: none;
            color: $black;
            display: inline-block;
            word-break: break-word;
          }
        }

        .post-description {
          color: $desc_line;
          font-size: 15px;
          font-weight: 400;
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          margin-bottom: 15px;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }

        .post-tags {
          display: flex;
          margin-bottom: 15px;
          align-items: center;

          .tag-item {
            color: $rolling_stone;
            border: 1px solid $main_border;
            padding: 1px 6px;
            border-radius: 2px;
            font-size: 15px;
            margin-right: 8px;
          }
        }

        .post-footer {
          background-color: $wild_sand;
          margin-bottom: 16px;
          display: flex;
          align-items: center;
          padding: 10px;

          .post-comments, .post-views, .post-likes, .post-saved,
          .post-unsaved {
            padding: 6px 10px;
            border: 1px solid $iron;
            background-color: $white;
            font-size: 15px;
            margin-right: 10px;

            a {
              color: $black;
              text-decoration: none;
            }
          }

          .post-saved {
            padding: 6px 15px;
            cursor: pointer;

            i {
              margin-right: 5px;
            }
          }

          .post-unsaved {
            padding: 6px 15px;
            border: 1px solid $strong_line;
            color: $strong_line;
            cursor: pointer;

            i {
              margin-right: 5px;
            }
          }

          .comment-post {
            margin-left: auto;

            a {
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.topics-list, .trends-index {
  background-color: $white;
  padding: 15px;

  h3 {
    font-size: 18px;
  }

  .item {
    border: 1px solid $main_border;
    margin-bottom: 15px;

    .item-title {
      font-weight: bold;
      font-size: 16px;
      padding: 10px 15px;

      i {
        margin-right: 10px;
      }

      a {
        color: $black;
        text-decoration: none;
      }
    }

    hr {
      margin: 0;
    }

    .item-info {
      padding: 10px 15px;

      form {
        display: flex;
        align-items: center;

        p {
          border: 1px solid $main_border;
          padding: 3px 10px;
          margin: 0;
          font-size: 14px;
          margin-right: 15px;
        }

        .follow {
          border: 1px solid $rolling_stone;
          display: block;
          color: black;
          padding: 3px 10px;
          background-color: $white;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;

          a {
            color: $black;
            text-decoration: none;
          }
        }

        .unfollow {
          border: 1px solid $strong_line;
          display: block;
          color: $strong_line;
          padding: 3px 10px;
          background-color: $white;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;

          a {
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.show-topic, .favorites-index {
  h3 {
    padding: 0 15px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .post-item {
    padding: 0 15px;
  }

  h5 {
    font-weight: normal;
    padding: 0 15px;
    font-size: 16px;
    color: $desc_line;
    font-style: italic;
    padding-bottom: 15px;
  }

  .show-topic-info {
    display: flex;
    align-items: center;

    .item-info {
      margin-left: auto;
      padding: 0 15px;
      form {
        display: flex;
        align-items: center;

        p {
          border: 1px solid $main_border;
          padding: 3px 10px;
          margin: 0;
          font-size: 14px;
          margin-right: 15px;
        }

        .follow {
          border: 1px solid $rolling_stone;
          display: block;
          color: black;
          padding: 3px 10px;
          background-color: $white;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
        }

        .unfollow {
          border: 1px solid $strong_line;
          display: block;
          color: $strong_line;
          padding: 3px 10px;
          background-color: $white;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}

.users-index, .trends-index {
  background-color: $white;
  padding: 15px;

  .item {
    text-align: center;
    border: 1px solid $main_border;
    padding: 15px;
    margin-bottom: 20px;

    .item-ava {
      margin-bottom: 10px;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    p {
      margin: 0;
    }

    .item-name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;

      a {
        text-decoration: none;
        color: $strong_line;
      }
    }

    .follower {
      padding: 3px 16px;
      font-size: 14px;
      background-color: $strong_line;
      color: $white;
      font-weight: bold;
    }
  }
}
.login-box, .register-box{
  width: 433px;
  margin: 7% auto;

  .login-logo, .register-logo {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
  }

  .btn-block {
    margin-bottom: 10px;
  }
}

.empty-data {
  color: $gray;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 16px;
  margin: 0;
}

.login-box, .register-box{
  width: 433px;
  margin: 7% auto;

  .login-logo, .register-logo {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
  }

  .btn-block {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  .form-control, .select2-selection, .cke_editor_post_content{
  border-color: $punch !important;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $punch;
}

.follower {
  padding: 3px 16px;
  font-size: 14px;
  background-color: $strong_line;
  color: $white;
  font-weight: bold;
  border: none;
}
