<section class="footer-social">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= t ".copy" %> <strong><%= t ".title" %></strong> <%= t ".right" %>
        </p>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>
