<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".title" %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body class = "register-page" style="min-height: 586.391px;">
    <%= custom_bootstrap_flash %>
    <%= yield %>
  </body>
</html>
